:root{
    --branco: white;
    --corDeFundo:#042b42;
    --fundoSenha: #2f4864;
    --fundoDeTexto: #001E40;
    --borda: #f7f1f1;
    --roboto: "Roboto", sans-serif;
    --robotoMono: "Roboto Mono", monospace;
}

*{
    font-weight: 400;
}

body{
    color: var(--branco);
    background-color: var(--corDeFundo);
}

.titulo-principal{
    font-family: var(--roboto);
}

.titulo-secundario{                                                             
    font-family: var(--robotoMono);
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}

.conteudosenha{
    background-color: var(--fundoSenha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
    margin-top: 50px;
}

#camposenha{
    background-color: var(--fundoSenha);
    border: none;
    color: var(--branco);
    font-family: var(--robotoMono);
    font-size: 40px;
}

#camposenha:focus{
    outline: none;
}

.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}